@font-face {
    font-family: 'FS-Albert-Pro';
    src: url('../fonts/FS-Albert-Pro.otf') format('opentype'),
      url('../fonts/HelveticaNeue.ttc') format('truetype'),
      url('../fonts/MyriadPro-Regular.otf') format('opentype'),
      url('../fonts/NexaHeavy.otf') format('opentype'),
      url('../fonts/NexaLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }